<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cnPlanillas" connectionString="Data Source=.;Initial Catalog=Planillas;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="xcnPlanillas" connectionString="Data Source=.;Initial Catalog=Planillas;Persist Security Info=True;User ID=sa;Password=sa." providerName="System.Data.SqlClient" />
        <add name="ycnPlanillas" connectionString="Data Source=sql5110.site4now.net;Persist Security Info=True;User ID=db_aa1eb2_planilla_admin;Password=Senati2023@" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>